/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800;900&family=Lato:ital,wght@0,100;0,400;0,700;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared styles */
* {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;


    border: 0;
    /* text-align: center; */

    font-size: 1.25rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */

}

.text-light-gray {
    color: #727272;
}

.section-title {
    color: #131313;
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-right: 30px;

    color: #424242;
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    /* line-height: 26px; */
}

/* banner-style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: var(--Dark-03, #727272);

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: 26px; */
}

.banner img {
    margin-top: 20px;
    width: 100%;
}


/* main section */
main {
    max-width: 1440px;
    margin: 70px auto;

}

.teams-container {
    display: flex;
    align-items: center;
    /* gap:70px; */
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    /* width: 468px; */
    font-weight: 700;
    font-size: 2.8rem
}

.teams-title .text-light-gray {
    color: #727272;

}

.teams-title .of-Our {
    color: #131313;

}

.teams-title .Features {
    color: #FF900E;

}

/* features section */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.features-content .card {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}



.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-image img {
    height: 90%;
    margin-left: 90px;
}

.ten-years-badge {
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    padding: 40px;
    bottom: 100px;

    position: relative;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin-bottom: 0px;
    /* font-style: normal; */
    /* font-weight: 700; */
}

.ten-years-badge p {
    /* color: #FFF; */

    font-size: 1.5rem;
    /* font-style: normal; */
    /* font-weight: 500; */
    /* line-height: 40px; */
}


/* Facts section */

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;



}


/* sponsor section */

.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;

}

.sponsors-img-container img {
    width: 166.757px;
    height: 50px;
}



/* footer section */

.footer-description {
    width: 1440px;
    padding: 40px 0px;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
}

/* responsive media query */

/* Mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .features-image img {
        width: 100%;
        margin-left: 0;
    }

    .ten-years-badge {
        position: static;
        max-width: 300px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;

    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
}

/* tablet */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }
}